@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
header nav ul li {
  margin: 0 20px;
}
header nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: #333;
}

main {
  padding-top: 76px;
}

.page-description {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4列のグリッド */
  gap: 10px;
  padding: 20px;
}

.grid-item {
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* 縦方向の配置 */
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease; /* トランジションの追加 */
}

.grid-item:hover {
  transform: scale(1.05); /* ホバー時に拡大 */
}

.grid-item img {
  width: 80%; /* 画像の幅を調整 */
  height: auto;
  margin-bottom: 10px; /* 画像とテキストの間隔 */
}

.grid-item p {
  margin: 0;
}

.grid-item.selected {
  border-color: #007bff;
  background-color: #e7f1ff;
}

.decision-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.decision-button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}