h1 {
  text-align: center;
}
.userNew {
  & > * {
    border: 1px solid black;
    padding: 10px;
    margin: 10px auto;

    max-width: 500px;
    & p {
      padding-top: 10px;
    }
    & input {
      &[type="text"],
      &[type="password"],
      &[type="email"] {
        width: 100%;
        border: none;
        line-height: 200%;
      }
    }
    & div {
      text-align: center;
      & button {
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        background: black;
        color: white;
        border-radius: 4px;
        border: none;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          filter: invert(1);
          box-shadow: 0 0 1px 1px white;
        }
      }
    }
  }
}
